# Ignore the virtual environment (heavy and useless to share)
venv/
env/

# Ignore compiled Python files
__pycache__/
*.pyc

# Ignore VS Code configuration folders
.vscode/

# Ignore secret environment variables (keep .env.example, ignore .env)
.env
